<div class="container-fluid">

    <form class="well" (submit)="addTask($event)">
        <div class="form-group">
            <input type="text"  [(ngModel)]="title" name="title" class="form-control" placeholder="Add item...">
        </div>
    </form>
    <div class="container">
        <div *ngFor="let task of tasks">
            <div class="task-list row">
                <div class="col-sm-2">
                    <input type="checkbox">
                </div>
                <div class="col-sm-4">
                    {{task.title}}
                </div>
                <div class="col-sm-2">
                    <input type="button" (click)="deleteTask(task.taskId)" value="Delete" class="btn btn-danger">
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
